GoogleSpeechToText/bin/Debug/NAudio.xml
GoogleSpeechToText/bin/Debug/SpeechToText.exe.config
GoogleSpeechToText/bin/Debug/SpeechToText.vshost.exe.config
GoogleSpeechToText/bin/Debug/SpeechToText.vshost.exe.manifest
GoogleSpeechToText/bin/Debug/demo.wav
GoogleSpeechToText/obj/Debug/GoogleSpeechToText.csproj.FileListAbsolute.txt
GoogleSpeechToText/obj/Debug/SpeechToText.Form1.resources
GoogleSpeechToText/obj/Debug/SpeechToText.Properties.Resources.resources
GoogleSpeechToText/obj/Debug/SpeechToText.csproj.FileListAbsolute.txt
GoogleSpeechToText/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
GoogleSpeechToText/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
GoogleSpeechToText/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Terminal/bin/Debug/Microsoft.Windows.Shell.xml
Terminal/bin/Debug/RibbonControlsLibrary.xml
Terminal/bin/Debug/Terminal.exe.config
Terminal/bin/Debug/Terminal.vshost.exe.config
Terminal/bin/Debug/Terminal.vshost.exe.manifest
Terminal/obj/Debug/App.g.cs
Terminal/obj/Debug/App.g.i.cs
Terminal/obj/Debug/MainWindow.baml
Terminal/obj/Debug/MainWindow.g.cs
Terminal/obj/Debug/MainWindow.g.i.cs
Terminal/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Terminal/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Terminal/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Terminal/obj/Debug/Terminal.Properties.Resources.resources
Terminal/obj/Debug/Terminal.csproj.FileListAbsolute.txt
Terminal/obj/Debug/Terminal.g.resources
Terminal/obj/Debug/Terminal_MarkupCompile.lref
